* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.actives {
  border-radius: 8px !important;
  background: rgb(180, 244, 97) !important;
  font-weight: bold !important;
}
.btn-group {
  display: flex;
  align-items: center;
  padding-top: 80px;
  justify-content: center;
}
.btn-group .btn-lg {
  margin-left: 20px;
}
main {
  height: 55500px;
}
.sticky {
  position: sticky;
  width: 100%;
  max-width: 1440px !important;
  padding-bottom: 20px;
  top: 0;
  z-index: 999;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.half-width{
    width: 70%;
    margin-left: 15%;
}
.card-body{
    width: 50%;
}
.donate{
  padding: 14px ;
}